<% if !current_user.is_blocked?(@user) && !@user.is_blocked?(current_user) %>
  <div style='margin-top: 56px; margin-left: 10px;'>
    <div>
      Name: <strong><%= @user.name %></strong>
    </div>
    <div>
      Email: <strong><%= @user.email %></strong>
    </div>
    <div>
      Phone: <strong><%= @user.phone_number %></strong>
    </div>
    <div>
      Gender: <strong><%= @user.gender %></strong>
    </div>
    <% unless current_user == @user %>
      <div class='block_form'>
        <%= render 'block', user: @user %>
        <%= link_to "Message", conversation_messages_path(Conversation.get(@user, current_user)) %>
      </div>
    <% end %>
  </div>
<% else %>
  <div style='margin-top: 56px; margin-left: 8px;'>
    <h1><%= @user.name %> blocked</h1>
  </div>
<% end %>