<% if !current_user.is_blocked?(@user) && !@user.is_blocked?(current_user) %>
  <div style='margin-top: 56px; margin-left: 8px;'>
    Name: <strong><%= @user.name %></strong>
    <br>
    Email: <strong><%= @user.email %></strong>
    <br>
    Phone: <strong><%= @user.phone_number %></strong>
    <br>
    Gender: <strong><%= @user.gender %></strong><br>
    <% unless current_user == @user %>
      <div class='block_form'>
        <%= render 'block', user: @user %>
        <%= link_to "Message", "#" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div style='margin-top: 56px; margin-left: 8px;'>
    <h1><%= @user.name %> blocked</h1>
  </div>
<% end %>