<div class="navbar">
	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	<%= link_to "Block list", block_list_user_path(current_user) %>
	<%= link_to "Message" %>
	<%= link_to "Edit Profile", edit_user_registration_path %>
	<%= link_to "Home", users_path %>
</div>